<mat-checkbox
  class="example-margin"
  [(ngModel)]="modoDesenv"
  style="z-index: 9999; position: absolute; margin-top: 1%; margin-left: 1%"
  >Modo Desenvolvedor</mat-checkbox
>
<button
  mat-raised-button
  color="primary"
  style="z-index: 9999; position: absolute; margin-top: 3%; margin-left: 1%"
  (click)="marcarComoVisitado()"
  class="col-md-2"
>
  Marcar como Visitado
</button>
<button
  mat-raised-button
  color="primary"
  (click)="openDialog()"
  style="z-index: 9999; position: absolute; margin-top: 5%; margin-left: 1%"
>
  Nomear Cidade
</button>

{{ itemSelecionado?.nome }} - {{ itemSelecionado?.d }}
<div class="lista-cidades">
  <div class="head">
    Cidades Visitadas => {{ cidadeVisitadaLista.length }} /
    {{ pathList.length }}
  </div>
  <div>
    <div *ngFor="let item of cidadeVisitadaLista" class="one-line">
      {{ item.nome ? item.nome : item.d }}
    </div>
  </div>
</div>

<mat-menu #contextmenu>
  <div>
    <button mat-menu-item>Marcar/Desmarcar Cidade</button>

    <button mat-menu-item (click)="openDialog()">Nomear Cidade</button>
  </div>
</mat-menu>
<div
  [matMenuTriggerFor]="contextmenu"
  [style.position]="'absolute'"
  [style.left.px]="menuX"
  [style.top.px]="menuY"
></div>

<svg
  pointer-events="none"
  class="leaflet-zoom-animated"
  viewBox="-100 0 900 500"
  style="transform: translate3d(-89px, -100px, 0px)"
>
  <g>
    <path
      *ngFor="let p of pathList"
      [attr.class]="p.class"
      [attr.stroke]="p.stroke"
      [attr.stroke-opacity]="p['stroke-opacity']"
      [attr.stroke-width]="p['stroke-width']"
      [attr.stroke-linecap]="p['stroke-linecap']"
      [attr.stroke-linejoin]="p['stroke-linejoin']"
      [attr.stroke-dasharray]="p['stroke-dasharray']"
      [attr.fill]="p.selecionado ? '#A9A9A9' : p.fill"
      [attr.fill-opacity]="p['fill-opacity']"
      [attr.fill-rule]="p['fill-rule']"
      [attr.d]="p.d"
      (click)="itemClicado(p)"
    >
      <title>{{ p.d }}</title>
    </path>
  </g>
</svg>
