<router-outlet></router-outlet>

<mat-accordion
  class="acoes_cidades example-headers-align"
  multi
  *ngIf="selected"
>
  <div class="titulo-menu-acoes">{{ selected?.nome }}</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> O que fazer </mat-panel-title>
      <mat-panel-description>
        Pontos Turísticos
        <mat-icon>done_all</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Onde Ficar </mat-panel-title>
      <mat-panel-description>
        Hospedagem
        <mat-icon>done_all</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Sugestões </mat-panel-title>
      <mat-panel-description>
        Opções de atrações
        <mat-icon>done_all</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Meu Espaço </mat-panel-title>
      <mat-panel-description>
        Aconteceu nesta viagem
        <mat-icon>done_all</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="example-action-buttons">
      <button mat-button>
        <mat-icon>done_all</mat-icon><span>Registrar Momento</span>
      </button>
      <button mat-button>
        <mat-icon>done_all</mat-icon><span>Fotos</span>
      </button>
      <button mat-button>
        <mat-icon>done_all</mat-icon><span>Anotações</span>
      </button>
      <button mat-button>
        <mat-icon>done_all</mat-icon><span>Meus Gastos</span>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="progressbar centered">
  <span class="label_progressbar"
    >Progresso de Cidades Visitadas
    {{ (cidadeVisitadaLista.length / pathList.length) * 100 | number: "1.1-2" }}
    %</span
  >
  <div
    [style.width]="(cidadeVisitadaLista.length / pathList.length) * 100 + '%'"
  ></div>
</div>

<div class="limpar_cidades_visitadas">
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="limparCidadesVisitadas()"
    >
      Limpar Cidades Visitadas
    </button>
  </div>
</div>

<div class="cabecalho centered">
  <div class="cabecalho-head">
    {{ itemSelecionado?.nome }}
    {{ itemSelecionado?.nome ? "-" : "Selecione uma cidade" }}
    {{ itemSelecionado?.id }}
  </div>
</div>

<button
  mat-raised-button
  color="primary"
  style="z-index: 9999; margin-top: 3%; margin-left: 1%"
  (click)="marcarComoVisitado()"
  class="col-md-2"
  *ngIf="false"
>
  Marcar como Visitado
</button>
<div>
  <div class="lista-cidades">
    <div class="head">
      Cidades Visitadas => {{ cidadeVisitadaLista.length }} /
      {{ pathList.length }}
    </div>
    <div class="body">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 tabe"
      >
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nome da Cidade
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nome }}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="noselect"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="linha-coluna noselect"
          [class.selected]="row.id == selected?.id"
          (click)="toggleSelecItemtable(row)"
        ></tr>
      </table>
    </div>
  </div>

  <div class="mapa_desenhado">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.2"
      baseProfile="tiny"
      width="1080"
      height="860"
      viewBox="-53.8371 25.2768 5.463499999999996 4.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="centered"
    >
      <g transform="scale(0.0001,-0.0001)">
        <path
          *ngFor="let p of pathList"
          [attr.class]="p.class"
          [attr.stroke]="p.stroke"
          [attr.stroke-opacity]="p['stroke-opacity']"
          [attr.stroke-width]="p['stroke-width']"
          [attr.stroke-linecap]="p['stroke-linecap']"
          [attr.stroke-linejoin]="p['stroke-linejoin']"
          [attr.stroke-dasharray]="p['stroke-dasharray']"
          [attr.fill]="p.selecionado ? '#A9A9A9' : p.fill"
          [attr.fill-opacity]="p['fill-opacity']"
          [attr.fill-rule]="p['fill-rule']"
          [attr.d]="p.d"
          [attr.id]="p.id"
          (click)="itemClicado(p)"
        >
          <title>{{ p?.nome ? p.nome : p.id }}</title>
        </path>
      </g>
    </svg>
  </div>
</div>
