<router-outlet></router-outlet>
<mat-checkbox
  class="example-margin"
  [(ngModel)]="modoDesenv"
  style="z-index: 9999; position: absolute; margin-top: 1%; margin-left: 1%"
  >Modo Desenvolvedor</mat-checkbox
>
<button
  mat-raised-button
  color="primary"
  style="z-index: 9999; position: absolute; margin-top: 3%; margin-left: 1%"
  (click)="marcarComoVisitado()"
  class="col-md-2"
>
  Marcar como Visitado
</button>
<button
  mat-raised-button
  color="primary"
  (click)="openDialog()"
  style="z-index: 9999; position: absolute; margin-top: 5%; margin-left: 1%"
>
  Nomear Cidade
</button>

{{ itemSelecionado?.nome }} - {{ itemSelecionado?.id }}
<div class="lista-cidades">
  <div class="head">
    Cidades Visitadas => {{ cidadeVisitadaLista.length }} /
    {{ pathList.length }}
  </div>
  <div>
    <div *ngFor="let item of cidadeVisitadaLista" class="one-line">
      {{ item.nome ? item.nome : item.id }}
    </div>
  </div>
</div>

<mat-menu #contextmenu>
  <div>
    <button mat-menu-item>Marcar/Desmarcar Cidade</button>

    <button mat-menu-item (click)="openDialog()">Nomear Cidade</button>
  </div>
</mat-menu>
<div
  [matMenuTriggerFor]="contextmenu"
  [style.position]="'absolute'"
  [style.left.px]="menuX"
  [style.top.px]="menuY"
></div>

<div class="mapa_desenhado">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.2"
    baseProfile="tiny"
    width="1080"
    height="1080"
    viewBox="-53.8371 25.9768 5.463499999999996 3.3782999999999994"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="centered"
  >
    <g transform="scale(0.0001,-0.0001)">
      <path
        *ngFor="let p of pathList"
        [attr.class]="p.class"
        [attr.stroke]="p.stroke"
        [attr.stroke-opacity]="p['stroke-opacity']"
        [attr.stroke-width]="p['stroke-width']"
        [attr.stroke-linecap]="p['stroke-linecap']"
        [attr.stroke-linejoin]="p['stroke-linejoin']"
        [attr.stroke-dasharray]="p['stroke-dasharray']"
        [attr.fill]="p.selecionado ? '#A9A9A9' : p.fill"
        [attr.fill-opacity]="p['fill-opacity']"
        [attr.fill-rule]="p['fill-rule']"
        [attr.d]="p.d"
        [attr.id]="p.id"
        (click)="itemClicado(p)"
      >
        <title>{{ p.id }}</title>
      </path>
    </g>
  </svg>
</div>
